/* RESET : http://htmlemailboilerplate.com/ */
body {
	width: 100% !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

#backgroundTable {
	margin: 0;
	padding: 0;
	width: 100% !important;
	line-height: 100% !important;
}

img {
	outline: none;
	text-decoration: none;
	-ms-interpolation-mode: bicubic;
}

a img {
	border: none;
}

.image_fix {
	display: block;
}

p {
	margin: 1em 0;
}

table td {
	border-collapse: collapse;
}

table {
	border-collapse: collapse;
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}

/* CUSTOM STYLES */
#backgroundTable {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #363636;
}

p {
	line-height: 22px;
}

/* apply the image fix to all images */
img {
	display: block;
}

.logo {
	padding: 30px 30px 30px 30px;
}

.header {
	border-top: 2px solid #E57A3E;
	border-bottom: 2px solid #004F80;
	padding: 30px;
	background-color: #EDF5F9;
	font-size: 22px;
	line-height: 26px;
	color: #004F80;
	font-weight: bold;
}

.subheading {
	color: #004F80;
	font-weight: bold;
}

.content {
	padding: 30px 30px;
	line-height: 26px;
}

.button td {
	background: #E57A3E;
	padding: 10px 25px;
}

.button a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.clicky {
	color: #666666;
}

.items,
.items-header {
	background-color: #F6F9FA;
	margin-bottom: 4px;
	border-bottom: 3px solid #ffffff;
	font-size: 13px;
}

.items-header {
	color: #004F80;
	font-weight: bold;
}

.order-date {
	font-size: 13px;
	text-align: right;
	font-style: italic;
}

.order-number {
	font-weight: normal;
	font-size: 14px;
	color: black;
	text-align: right;
	line-height: 22px;
}

.order-fees {
	text-align: right;
	font-size: 13px;
	line-height: 16px;
}

.order-discounts {
	color: red;
}

.order-total {
	text-align: right;
	font-weight: bold;
}

.footer {
	padding: 30px;
	font-size: 12px;
	background-color: #F6F6F6;
	border-top: 2px solid #004F80;
	color: #666666;
}

.footer p {
	margin: 0;
	font-size: 10px;
	line-height: 16px;
}