<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pending Registration</title>
	<link rel="stylesheet" href="css/inline.style.css">
</head>

<body>
	<table id="backgroundTable" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="logo">
				<a th:href="${secureBaseUrl}" href="#">
					<img th:src="|${mediaSecureBaseUrl}/#{imagePath}|"
						 src="https://southwiredirect.local:9002/direct/_ui/direct/images/garvin_logo_email.png"
						 width="125" height="30" alt="Garvin Industries" />
				</a>
			</td>
		</tr>
		<tr>
			<td class="header">
				Thanks for Registering
			</td>
		</tr>
		<tr>
			<td class="content">
				<p th:text="#{salutation(${displayName})}">Hi {0},</p>
				<p>
					Thank you for making an account with
					Garvin Industries. While we review your information to finalize your account, we encourage you to
					reach out to us with any questions at 847-455-0188 or Garvin.Info@southwire.com.
				</p>
				<p>
					Please note that finalizing your account may take up to 48 hours, but we will strive to complete all
					approvals as quickly as possible. Once your account has been approved, you will receive a
					notification email from us.
				</p>
				<p>
					We appreciate your patience and look forward to working with you.
				</p>
				<p>&nbsp;</p>
				<table class="button" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<a th:href="${ctx.secureLoginUrl}" href="#">
								Log in now
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="footer">
				<p>
					Please note: This e-mail was sent from a notification-only address that can't accept incoming
					e-mail.<br>
					Please do not reply to this message.<br>
					2021 Southwire Company, LLC. All Rights Reserved.
				</p>
				<p>
					<a class="clicky" href="#" th:href="#{termsUseUrl}">Terms of Use</a>
					&nbsp;|&nbsp;
					<a class="clicky" href="#" th:href="#{privacyPolicyUrl}">Privacy Policy</a>
					&nbsp;|&nbsp;
					<a class="clicky" href="#" th:href="#{termsConditionsUrl}">Terms and Conditions</a>
				</p>
			</td>
			</td>
		</tr>
	</table>
</body>

</html>
