<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Reset your password</title>
	<link rel="stylesheet" href="css/inline.style.css">
</head>

<body>
	<table id="backgroundTable" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="logo">
				<a th:href="${secureBaseUrl}" href="#">
					<img th:src="|${mediaSecureBaseUrl}#{imagePath}|"
						src="https://southwiredirect.local:9002/direct/_ui/direct/images/garvin_logo_email.png"
						width="125" height="30" alt="Garvin Industries" />
				</a>
			</td>
		</tr>
		<tr>
			<td class="header">
				<table width="100%" border="0" cellpadding="10" cellspacing="0">
					<tr>
						<td>
							Your order has shipped.
						</td>
						<td class="order-number" th:text="#{orderNumber(${shippingNotification.orderNumber})}">
							Order No: {0}
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="content">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="2">
							<p class="subheading">A shipment has been made for</p>
						</td>
					</tr>
					<tr th:if="${not #strings.isEmpty(shippingNotification.customerPONumber)}">
						<td><strong>Purchase Order:</strong></td>
						<td th:text="${shippingNotification.customerPONumber}">41165-84</td>
					</tr>
					<tr>
						<td><strong>Order Number:</strong></td>
						<td th:text="${shippingNotification.orderNumber}">0009012001</td>
					</tr>
					<tr>
						<td colspan="2">
							<p>&nbsp;</p>
							<p class="subheading">Shipment Details</p>
						</td>
					</tr>
					<tr th:if="${not #strings.isEmpty(shippingNotification.shipDate)}">
						<td><strong>Ship Date:</strong></td>
						<td th:text="${shippingNotification.shipDate}">6/12/2021</td>
					</tr>
					<tr th:if="${not #strings.isEmpty(shippingNotification.deliveryNumber)}">
						<td><strong>Delivery Number:</strong></td>
						<td th:text="${shippingNotification.deliveryNumber}">0084319010</td>
					</tr>
					<tr th:if="${not #strings.isEmpty(shippingNotification.proNumber)}">
						<td><strong>Tracking Number:</strong></td>
						<td>
							<a class="clicky" href="#" th:href="#{upsTrackingUrl(${shippingNotification.proNumber})}"
								th:text="${shippingNotification.proNumber}">
								4674475974
							</a>
						</td>
					</tr>
					<tr th:if="${not #strings.isEmpty(shippingNotification.shipFromPlantName)}">
						<td><strong>Ship From:</strong></td>
						<td th:text="${shippingNotification.shipFromPlantName}">Southwire Energy CSC</td>
					</tr>
					<tr>
						<td colspan="2">
							<p>&nbsp;</p>
							<p class="subheading">Delivery Information</p>
							[[${shippingNotification.shipToName}]]<br>
							[[${shippingNotification.shipToAddress}]]<br>
							[[${shippingNotification.city}]]<br>
							[[${shippingNotification.region}]], [[${shippingNotification.postalCode}]]
							<p>&nbsp;</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="footer">
				<p>
					This e-mail is only an acknowledgement of receipt of your order. Your contract to purchase these
					items is not complete until we send you an e-mail notifying you that the items have been dispatched.
					<br>
					Please note: This e-mail was sent from a notification-only address that can't accept incoming
					e-mail.
					<br>
					Please do not reply to this message.
					<br>
					2021 Southwire Company, LLC. All Rights Reserved.
				</p>
				<p>&nbsp;</p>
				<p>
					<a class="clicky" href="#" th:href="#{termsUseUrl}">Terms of Use</a>
					&nbsp;|&nbsp;
					<a class="clicky" href="#" th:href="#{privacyPolicyUrl}">Privacy Policy</a>
					&nbsp;|&nbsp;
					<a class="clicky" href="#" th:href="#{termsConditionsUrl}">Terms and Conditions</a>
				</p>
			</td>
		</tr>
	</table>
</body>

</html>
