<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/inline.style.css">
	<title>Tax Exempt Request</title>
</head>

<body>
	<table id="backgroundTable" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="content">
				<p>Hi,</p>
				<p>
					An account on the Garvin website has requested to be tax exempt.
				</p>
				<ul style="list-style-type: none;">
					<li th:text="#{customerName(${name})}">
						Name: {0}
					</li>
					<li th:text="#{customerEmail(${customerEmail})}">
						Email: {0}
					</li>
					<li th:text="#{customerContactPhone(${contactPhone})}">
						Contact Phone: {0}
					</li>
					<li th:text="#{customerTaxId(${taxId})}">
						Tax Id Number (EIN#): {0}
					</li>
				</ul>
				<p>The tax request form is attached.</p>
				<p>Thank you,</p>
				<p>Garvin Team</p>
			</td>
		</tr>
	</table>
</body>

</html>
