<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/inline.style.css">
	<title>Registration Request</title>
</head>

<body>
	<table id="backgroundTable" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="content">
				<p>Hi,</p>
				<p>A user has requested to become a Distributor on the Garvin website.</p>
				<ul style="list-style-type: none;">
					<li th:text="#{firstName(${customerData.firstName})}">First</li>
					<li th:text="#{lastName(${customerData.lastName})}">Last</li>
					<li th:text="#{email(${customerData.displayUid})}">test@test.com</li>
					<li th:text="#{phone(${phone})}">555-111-1111</li>
					<li th:text="#{companyName(${companyName})}">Widgets R Us</li>
					<li th:text="#{positionTitle(${positionTitle})}">Buyer</li>
					<li th:text="#{businessPhoneNumber(${businessPhoneNumber})}">555-111-1111</li>
					<li th:text="#{address1(${line1})}">123 Main street</li>
					<li th:if="${not #strings.isEmpty(line2)}" th:text="#{address2(${line2})}">Suite 300</li>
					<li th:text="#{city(${city})}">Fresno</li>
					<li th:text="#{distributorState(${distributorState})}">US-CA</li>
					<li th:text="#{zip(${zip})}">15141</li>
				</ul>
				<p>Thank you,</p>
				<p>Garvin Team</p>
			</td>
		</tr>
	</table>
</body>

</html>
