<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Order Confirmation</title>
	<link rel="stylesheet" href="css/inline.style.css">
</head>

<body>
	<table id="backgroundTable" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="logo">
				<a th:href="${secureBaseUrl}" href="#">
					<img th:src="|${mediaSecureBaseUrl}/#{imagePath}|"
						src="https://southwiredirect.local:9002/direct/_ui/direct/images/garvin_logo_email.png"
						width="125" height="30" alt="Garvin Industries" />
				</a>
			</td>
		</tr>
		<tr>
			<td class="header">
				<table width="100%" border="0" cellpadding="10" cellspacing="0">
					<tr>
						<td>
							Thanks for your order
						</td>
						<td class="order-number" th:text="#{orderNumber(${order.sapOrderNumber})}">
							Order No: {0}
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="content">
				<p th:text="#{salutation(${displayName})}">Hi {0},</p>
				<p th:if="${pickupAddress eq null}">
					Your order, <strong>#<span th:text="${order.sapOrderNumber}">5551212</span></strong>, has been
					received. Details of your order are shown below. In case
					a change needs to be made to your order, please contact us at 847-455-0188 or&nbsp;
					<a class="clicky" href="mailto:Garvin.Info@southwire.com">Garvin.Info@southwire.com</a>.
				</p>
				<p th:if="${pickupAddress ne null}">
					Your order, <strong>#<span th:text="${order.sapOrderNumber}">5551212</span></strong> has been
					received and we are in the process of fulfillment. Details of your order are shown below and you
					will be emailed when your order is ready for pickup. In case a change needs to be made to your
					order, please contact us immediately at 847-455-0188.
				</p>
				<p>
					Please retain this order confirmation in your records in case you need to refer back to it. Account
					Holders can access past order information at any time by accessing your account on
					<a class="clicky" href="#" th:href="${secureBaseUrl}">www.GarvinIndustries.com</a>.
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0 30px">
				<table width="100%" border="0" cellpadding="10" cellspacing="0">
					<tr>
						<td colspan="3" class="order-date"
							th:text="#{orderPlaceDate(${order.orderPlaceDate}, ${order.orderPlaceTime})}">
							Order placed on 23/06/2021 at 03:57:55(UTC)
						</td>
					</tr>
					<tr class="items-header">
						<td>QTY</td>
						<td>ITEM</td>
						<td style="text-align:right;">PRICE</td>
					</tr>
					<tr class="items" th:each="entry : ${order.entries}">
						<td th:text="${entry.quantity}">25</td>
						<td th:text="${entry.product.name}">1-1/2 in. Rigid Conduit Locknut</td>
						<td style="text-align:right;" th:text="${entry.totalPrice.formattedValue}">$21.25</td>
					</tr>
					<tr>
						<td colspan="3" style="text-align: right;">
							<span class="order-fees order-discounts" th:if="${order.orderDiscounts.value &gt; 0}"
								th:text="#{discounts(${order.orderDiscounts.formattedValue})}">
								Discounts: $3.11
							</span><br>
							<span class="order-fees" th:if="${order.deliveryCost.value &gt; 0}"
								th:text="#{deliveryCost(${order.deliveryCost.formattedValue})}">
								Delivery: $12.88
							</span><br>
							<span class="order-fees" th:if="${order.totalTax.value &gt; 0}"
								th:text="#{totalTax(${order.totalTax.formattedValue})}">
								Estimated Tax: $22.36
							</span><br><br>
							<span class="order-total"
								th:text="#{orderTotal(${order.totalPriceWithTax.formattedValue})}">
								Order Total: $22.36
							</span>
						</td>
					</tr>
				</table>
				<p>
					<span class="subheading">Delivery Method</span><br>
					[[${order.deliveryMode.name}]]
				</p>
				<p th:if="${pickupAddress ne null}">
					<span class="subheading">Pickup Address</span><br>
					[[${pickupAddress.line1}]]<br>
					<span th:if="${not #strings.isEmpty(pickupAddress.line2)}">
						[[${pickupAddress.line2}]]<br>
					</span>
					[[${pickupAddress.town}]]<br>
					[[${pickupAddress.region.name}]], [[${pickupAddress.postalCode}]]
				</p>
				<p th:if="${pickupAddress eq null}">
					<span class="subheading">Delivery Address</span><br>
					[[${order.deliveryAddress.firstName}]] [[${order.deliveryAddress.lastName}]]<br>
					[[${order.deliveryAddress.line1}]]<br>
					<span th:if="${not #strings.isEmpty(order.deliveryAddress.line2)}">
						[[${order.deliveryAddress.line2}]]<br>
					</span>
					[[${order.deliveryAddress.town}]]<br>
					[[${order.deliveryAddress.region.name}]], [[${order.deliveryAddress.postalCode}]]
				</p>
				<p th:if="${not #strings.isEmpty(order.orderComments)}">
					<span class="subheading">Order Instructions</span><br>
					[[${order.orderComments}]]
				</p>
				<p th:if="${not #strings.isEmpty(order.deliveryInstructions)}">
					<span class="subheading">Shipping Instructions</span><br>
					[[${order.deliveryInstructions}]]
				</p>
				<p>&nbsp;</p>
				<table class="button" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<a th:href="${ctx.secureMyAccountUrl}" href="#">
								View order details
							</a>
						</td>
					</tr>
				</table>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td class="footer">
				<p>
					This e-mail is only an acknowledgement of receipt of your order. Your contract to purchase these
					items is not complete until we send you an e-mail notifying you that the items have been dispatched.
					<br>
					Please note: This e-mail was sent from a notification-only address that can't accept incoming
					e-mail.
					<br>
					Please do not reply to this message.
					<br>
					2021 Southwire Company, LLC. All Rights Reserved.
				</p>
				<p>&nbsp;</p>
				<p>
					<a class="clicky" href="#" th:href="#{termsUseUrl}">Terms of Use</a>
					&nbsp;|&nbsp;
					<a class="clicky" href="#" th:href="#{privacyPolicyUrl}">Privacy Policy</a>
					&nbsp;|&nbsp;
					<a class="clicky" href="#" th:href="#{termsConditionsUrl}">Terms and Conditions</a>
				</p>
			</td>
		</tr>
	</table>
</body>

</html>
