<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Reset your password</title>
	<link rel="stylesheet" href="css/inline.style.css">
</head>

<body>
	<table id="backgroundTable" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="logo">
				<a th:href="${secureBaseUrl}" href="#">
					<img th:src="|${mediaSecureBaseUrl}#{imagePath}|"
						src="https://southwiredirect.local:9002/direct/_ui/direct/images/garvin_logo_email.png"
						width="125" height="30" alt="Garvin Industries" />
				</a>
			</td>
		</tr>
		<tr>
			<td class="header">
				Reset your password
			</td>
		</tr>
		<tr>
			<td class="content">
				<p th:text="#{salutation(${displayName})}">Hi {0},</p>
				<p>
					We recently received a request to reset your account password. Simply click below and we'll help you
					quickly and easily get back into your account.
				</p>
				<p>&nbsp;</p>
				<table class="button" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
							<a th:href="${ctx.secureResetPasswordUrl}" href="#">
								Reset Password
							</a>
						</td>
					</tr>
				</table>
				<p>&nbsp;</p>
				<p>
					Please note: This link will expire 24 hours after you receive this email. To request a new, secure
					access email, <a href="#" th:href="|${secureBaseUrl}/login/pw/request|" class="clicky">click
						here</a>. Follow the instructions to reset your password.
				</p>
				<p>
					Because this link provides immediate access to your Garvin account, we recommend you do not forward
					this email to anyone.
				</p>
				<p>Thanks,</p>
				<p>Garvin Team</p>
			</td>
		</tr>
		<tr>
			<td class="footer">
				<p>
					Please note: This e-mail was sent from a notification-only address that can't accept incoming
					e-mail.<br>
					Please do not reply to this message.<br>
					2021 Southwire Company, LLC. All Rights Reserved.
				</p>
			</td>
		</tr>
	</table>
</body>

</html>
